{% load static %}


{% comment %} <html lang="en">
  <head>
	<style>.site-navbar{
		background-color:#ff5733
	  }
	</style>
    <title>Designtecht &mdash;Exhibition Stands</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900"> 
    <link rel="stylesheet" href="/static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">
    
    
    <link rel="stylesheet" href="/static/fonts/flaticon/font/flaticon.css">
  
    <link rel="stylesheet" href="/static/css/aos.css">
    <link rel="stylesheet" href="/static/css/jquery.fancybox.min.css">
    

    <link rel="stylesheet" href="/static/css/style.css">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div class="site-wrap">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div> <!-- .site-mobile-menu -->
      
      

        <div class="site-navbar site-navbar-target js-sticky-header">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-2">
                <h1 class="my-0 site-logo"><a href="index.html">DesignTecht</a></h1>
              </div>
              <div class="col-10">
                <nav class="site-navigation text-right" role="navigation">
                  <div class="container">
                    <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

                    <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                      <li><a href="/" class="nav-link">Anasayfa</a>
                      </li>
                      <li class="has-children">
                        <a href="/about/" class="nav-link">Hakkımızda</a>
                        
                            
                        
                      </li>
                      <li>
                        <a href="#projects-section" class="nav-link">Projelerimiz</a>
                      </li>
                      
                      <li><a href="#services-section" class="nav-link">Hizmetlerimiz</a></li>
                      <li><a href="/contact/" class="nav-link">İletişim</a></li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
     {% endcomment %}
     <html lang="en">
        <head>
          <style>
            .site-navbar 
            { 
              background-color:#ff5733 
              
            }
            .container2 {
                position: relative;
                width: 100%;
                overflow: hidden;
                padding-top: 56.25%; /* 16:9 Aspect Ratio */
                bottom: 30px;
              }
              
              .responsive-iframe {
                position: absolute;
                top: 35px;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                border: none;
              }

          </style>
          <title>Designtecht &mdash;Exhibition Stands</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          
          {% comment %} <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900">  {% endcomment %}
          <link rel="stylesheet" href="/static/fonts/icomoon/style.css">
          <link rel="stylesheet" href="/static/css/bootstrap.min.css">
          <link rel="stylesheet" href="/static/css/magnific-popup.css">
          <link rel="stylesheet" href="/static/css/jquery-ui.css">
          <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
          <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
          <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">
          

          
          
          <link rel="stylesheet" href="/static/fonts/flaticon/font/flaticon.css">
        
          <link rel="stylesheet" href="/static/css/aos.css">
          <link rel="stylesheet" href="/static/css/jquery.fancybox.min.css">
          
      
          <link rel="stylesheet" href="/static/css/style.css">
          
        </head>
        <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
          
         
      
          <div class="site-wrap">
      
            <div class="site-mobile-menu site-navbar-target">
              <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                  <span class="icon-close2 js-menu-toggle"></span>
                </div>
              </div>
              <div class="site-mobile-menu-body"></div>
            </div> <!-- .site-mobile-menu -->
            
            
      
              <div class="site-navbar site-navbar-target js-sticky-header">
                <div class="container">
                  <div class="row align-items-center">
                    <div class="col-2">
                      <h1 class="my-0 site-logo"><a href="index.html">DesignTecht</a></h1>
                    </div>
                    <div class="col-10">
                      <nav class="site-navigation text-right" role="navigation">
                        <div class="container">
                          <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
      
                          <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                            <li><a href="/" class="nav-link">Anasayfa</a>
                            </li>
                            <li class="has-children">
                              <a href="/about/" class="nav-link">Hakkımızda</a>
                              
                                  
                              
                            </li>
                            <li>
                              <a href="{% url 'index' %}" class="nav-link">Projelerimiz</a>
                            </li>
                            
                            <li><a href="#services-section" class="nav-link">Hizmetlerimiz</a></li>
                            <li><a href="/contact/" class="nav-link">İletişim</a></li>
                          </ul>
                        </div>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
 
    
    <div id="wrapper">
        <!-- BEGIN # MODAL LOGIN -->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Begin # DIV Form -->
                    <div id="div-forms">
                        <form id="login-form">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="flaticon-add" aria-hidden="true"></span>
                            </button>
                            <div class="modal-body">
                                <input class="form-control" type="text" placeholder="What you are looking for?" required>
                            </div>
                        </form><!-- End # Login Form -->
                    </div><!-- End # DIV Form -->
                </div>
            </div>
        </div>
        <!-- END # MODAL LOGIN -->



        {% comment %} <section class="section db p120">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="tagline-message page-title text-center">
                          <h3>Get In Touch</h3>
                          <ul class="breadcrumb">
                              <li><a href="javascript:void(0)">Edulogy</a></li>
                              <li class="active">Get in touch</li>
                          </ul>
                      </div>
                  </div><!-- end col -->
              </div><!-- end row -->
          </div><!-- end container -->
      </section><!-- end section --> {% endcomment %}

      <section class="section gb nopadtop">
          <div class="container">
              <div class="boxed boxedp4">
                <div class="container2">
                    <iframe class="responsive-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12035.592537990005!2d29.05359783513702!3d41.049356668744075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac9cc172c65f3%3A0x8f58e90c589aa48!2zw4dlbmdlbGvDtnksIDM0NjgwIMOcc2vDvGRhci_EsHN0YW5idWw!5e0!3m2!1str!2str!4v1678825414771!5m2!1str!2str"  loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                  </div>
                  {% comment %} <div id="map" class="wow slideInUp"></div> {% endcomment %}
                  <div class="row contactv2 text-center">
                    
                      <div class="col-md-4">
                          <div class="small-box">
                            <img src="   https://cdn-icons-png.flaticon.com/512/3059/3059455.png " width="64" height="64" alt="" title="" class="img-small">                              <h4>Bizi Arayın</h4>
                              <small>Phone: +90 987 665 55 44</small>
                              <small>Fax:  +90 987 665 55 45</small>
                              <p><a href="mail:to">info@yoursite.com</a></p>
                          </div><!-- end small-box -->
                      </div><!-- end col -->

                      <div class="col-md-4">
                          <div class="small-box">
                            <img src="   https://cdn-icons-png.flaticon.com/512/10001/10001414.png " width="64" height="64" alt="" title="" class="img-small">
                              <h4>Merkez</h4>
                              <small>8 Şubat Mahallesi</small>
                              <small>Gaziantep 27090 Türkiye</small>
                              <p><a href="#">View on Google Map</a></p>
                          </div><!-- end small-box -->
                      </div><!-- end col -->

                      <div class="col-md-4">
                          <div class="small-box">
                            <img src="   https://cdn-icons-png.flaticon.com/512/719/719731.png " width="64" height="64" alt="" title="" class="img-small">
                              <h4>Takip Edin</h4>
                              <small>Twitter: @yourhandle</small>
                              <small>Facebook: facebook.com/yourhandle</small>
                              <p><a href="#">Email Newsletter</a></p>
                          </div><!-- end small-box -->
                      </div><!-- end col -->
                  </div><!-- end contactv2 -->
                  
                  <div style="margin-left:360px" class="row">
                        
                      <div class="col-md-6 col-md-offset-3">

                       
                          <div class="section-title text-center">
                           
                              <h3>Contact Form</h3>
                            
                              <p>Maecenas sit amet tristique turpis. Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis.</p>
                          </div><!-- end title -->
                          {% if messages %}
                          {% for message in messages %}
                           <div class = "alert alert-{{message.tags}}">
                            {{message}}
                           <div/>
                            {% endfor %}

                        {% endif %}
                        <form action="" method="POST">
                          {% csrf_token %}
                          <div class="form-group">
                            <label for="exampleFormControlInput1">Name:</label>
                            {{form.name}}
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlInput1">E-mail:</label>
                            {{form.email}}
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlInput1">Phone:</label>
                            {{form.phone}}
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlInput1">Subject:</label>
                            {{form.subject}}
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlInput1">Message:</label>
                            {{form.message}}
                          </div>
                          <button type="submit" class="btn btn-primary rounded-0 btn-lg">Send Message</button>
                        </form>
                      </div><!-- end col -->
                  </div><!-- end row -->
              </div><!-- end container -->
          </div>
      </section>
     
	<footer class="site-footer border-top">
	  <div class="container p-4 pb-0">
    
		<section class="">
		  <div class="row">
			<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
				<h3 class="footer-heading mb-4">Hakkımızda</h3>
			  <p>
				denemememememm
				mmmmmmmmmmmmmm
				mmmmmmmmmmmmmmm
				mmmmm.
			  </p>
			</div>
  
  
			<hr class="w-100 clearfix d-md-none" />
  
			<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
				<h3 class="footer-heading mb-4">İLETİŞİM</h3>
			  <p><i class="fas fa-home mr-3"></i> New York , US</p>
			  <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
			  <p><i class="fas fa-phone mr-3"></i> + 01 234 567 89</p>
  
			</div>
			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
				<h3 class="footer-heading mb-4">BİZİ TAKİP EDİN</h3>
  
			  
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              
  
			</div>
		  </div>
		</section>
	  </div>
	</footer>
  </div>
<!-- jQuery Files -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/animate.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<!-- VIDEO BG PLUGINS -->
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAkADq7R0xf6ami9YirAM1N-yl7hdnYBhM "></script>
<script src="{% static 'js/videobg.js' %}"></script>

<!-- MAP & CONTACT -->
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/cart.js' %}"></script>
<script type="text/javascript">
var user = '{{request.user}}'